#test {
    margin-left: 5%;
    display: flex;   
    margin-right:5%;
    font-family: arial; 
    font-size:1.5em; 
    margin-bottom:5px;
    color: #3d3a31;
}

h2 {
    border-bottom : 10px solid #fc6f20;  
    font-family: 'Findet Nemo', arial;
    width:40%;
    margin-left:5%;
    font-size:2.3em;
}


#test #image {
    width:30%;
    max-height: 600px;
    margin-right:1%;
}

#test #image img {    
    height: 95%;
}




.description {
    font-family: 'Findet Nemo', arial;  
    font-size:1.5em;
}

.liens {
    margin-left: 5%;
    font-family: arial; 
    font-size:1.5em;
    margin-top:1%;
}

.liens2 {    
    font-family: arial; 
    font-size:1.5em;
    color: #fc6f20;
}


.gras{
    font-weight: bolder;
}

a {
    text-decoration: none;
    color:#3d3a31;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #fc6f20;
    cursor: pointer; 
}

.liens2:hover {
    text-decoration-color: #3d3a31;
}

.autre {
    text-align: center;
    margin:0;
}



@media screen and (max-width: 1200px) {  
    #test {      
        font-size:1em; 
    }

    .liens {        
        font-size:1em;
    }
    
    .liens2 {    
        font-size:1em;
    }

    h2 {      
        width:60%;        
        font-size:2em;
    }
}

@media screen and (max-width: 992px) {  
    #test {      
        display: block;
        text-align:center;
    }

    #lien {
        text-align: center;
    }

    #test #image {        
        margin-left:auto;
        margin-right:auto;
        margin-bottom:1%;
    }
    
    #titre {
        text-align: center;
    }

    h2 {
        border-bottom : 10px solid #fc6f20;          
        width:auto;
        margin-left:10%;   
        margin-right:10%; 
            
    }
      
   

    }

    @media screen and (max-width: 768px) {  
        #test {      
            font-size:0.7em; 
        }
    
        .liens {        
            font-size:0.7em;
        }
        
        .liens2 {    
            font-size:0.7em;
        }
           

        #titre {
            text-align: center;
        }
    
        h2 {
            border-bottom : 5px solid #fc6f20;          
            width:auto;
            margin-left:10%;   
            margin-right:10%; 
            font-size:1.3em;     
        }

    }