h2 {
    font-family: 'Findet Nemo', arial;
    font-size:2.2em;
}

p {font-family:  arial;
    font-size:1.2em;}

@media screen and ( max-width:768px){

    h2 {
        font-family: 'Findet Nemo', arial;
        font-size:1.5em;
    }
    
    p {font-family:  arial;
        font-size:0.8em;}


}