{% extends "base.html.twig" %}

{% block title %} Le Monde de Memo {% endblock %}


{% block body %}
<div id="corps">
 {% if app.user %}
<h3>Pseudo : {{ app.user.username }}</h3>
<h3>Mail : {{ app.user.mail }}</h3>
{% endif %}
</div>
{% endblock %}
