{% block footer %}
<footer> 

<div id="ligne1Footer">2018 Le Monde de Memo - Tous droits reserves</div>  

<div id="ligne2Footer">                
                <a href="#">Nous contacter</a>
</div>

<img src="{{ asset("images/logosanstexte.png")}}" alt="image"></div> 
</footer>
{% endblock %}