{% block footer %}
<footer>   
    <p>Mentions legales     FAQ     Cookie     Conditions d'utilisation     RSS     Confidentialite  <br/>
Charte des commentaires     A propos de nous     Nous contacter<br/>
@2018 Le Monde de Memo - Tous droits reserves</p>   
<img src="{{ asset("images/logosanstexte.png")}}" alt="image"></div> 
</footer>
{% endblock %}