{% extends "base.html.twig" %}

{% block title %} Le Monde de Memo {% endblock %}


{% block body %}
 {% if app.user %}
<h2>Bienvenue {{ app.user.username }} ! </h2><br/><br/>
{% endif %}
<p>Texte descriptif</p>
{% endblock %}
